body {
    max-width: max-content;
    background-color: rgb(59, 158, 20);
    margin: 0 auto;
}
/* styles for the homepage */

.home-title, h1, h2, h3 {
    font-style: italic;
    color: white;
    font-family: 'Times New Roman', 'Georgia', 'Verdana', 'sans-serif';
}

.home-image {
    width: 350px;
    height: auto;
}

.recipes li a {
    color: lightblue;
    font-size: 20px;
    font-family: 'Verdana', 'Times New Roman', 'Arial', 'sans-serif';
    font-weight: bold;
}

/* styles for the recipe pages */

.recipe-intro{
    margin: 0 auto;
    padding-left: 10em;
    padding-right: 10em;
}

.recipe-intro h1 {
    padding-left: 2em;
}

.recipe-desc {
    border-bottom: .5px solid black;
    padding-bottom: 1em;
}

.desc-into {
    font-size: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.desc.comment {
    color: rgb(125, 230, 186);
}

.ingredients {
    padding-bottom: 1em;
    border-bottom: 2px dotted blanchedalmond;
}

.ingredients li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 2px;
}

.steps-start {
    font-weight: bold;
    font-style: normal;
}

.steps li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style: italic;
    padding: 1px;
}

.footer-links {
    padding-left: 14.5em;
}

.footer-links a {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: chartreuse;
    display: inline-block;
    padding: 2px;
    padding-right: 10px;
}