body {
    background-color: rgb(59, 158, 20)
}

.home-title, h1, h2, h3 {
    font-style: italic;
    color: white;
    font-family: 'Times New Roman', 'Georgia', 'Verdana', 'sans-serif';
}

.steps-start {
    font-weight: bold;
    font-style: normal;
}

.desc {
    font-size: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.desc.comment {
    color: rgb(125, 230, 186);
}

.home-image {
    width: 350px;
    height: auto;
}

.recipes li a {
    color: lightblue;
    font-size: 20px;
    font-family: 'Verdana', 'Times New Roman', 'Arial', 'sans-serif';
    font-weight: bold;
}

.ingredients li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.steps li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style: italic;
}

.footer-links a {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: chartreuse;
}