body {
    background-color: rgb(59, 158, 20)
}

h1, h2, h3 {
    color: white;
    font-family: 'Times New Roman', 'Georgia', 'Verdana', 'sans-serif';
}

h2, h3 {
    font-weight: italic;
}

.desc {
    font-size: 18px;
    color: white;
    font-family: 'Times New Roman', Times, serif;

}

.home-image {
    width: 350px;
    height: auto;
}

.recipes li a {
    color: lightblue;
    font-size: 20px;
    font-family: 'Verdana', 'Times New Roman', 'Arial', 'sans-serif';
    font-weight: bold;
}